body {
    margin: 0;
    background: black;
    color: #aedfff;
    min-width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    gap: 20px;
    user-select: none;
    padding: 10px;
}

input {
    outline: none;
    border: none;
    width: 100%;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: grey;
}

.flex {
    display: flex;
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.flex-col {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}