:root {
    --blue: #aedfff;
    --grey: rgb(40, 40, 40);
}

body {
    margin: 0;
    background: black;
    min-width: 200px;
    color: var(--blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    user-select: none;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

#smooth {
    width: 20px;
    height: 20px;
    border: none;
}

#footer {
    font-size: 10px;
    color: grey;
}

.flex {
    display: flex;
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.flex-col {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.just-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.card {
    background: var(--grey);
    border-radius: 5px;
    padding: 10px;
}